# Ignore data folders
logs/
parquet_exports/
source_data/

# Ignore external projects
BI-Foundation-main/

# Python
__pycache__/
*.pyc

# Virtual environments
backend/.venv/
etl/.venv/

# Notebook checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
