# Ignore ETL
etl/

# Ignore data
logs/
parquet_exports/
source_data/

# Ignore external
BI-Foundation-main/

# Python
__pycache__/
*.pyc

# Virtual env
backend/.venv/

# Notebook checkpoints
.ipynb_checkpoints/
